---
import Layout from "../layouts/Layout.astro";

const references = [
  {
    name: "STM32U585xx (Microcontroller) Datasheet",
    link: "/477grp5/references/STM32U585xx_Datasheet.pdf",
  },
  {
    name: "STM32U5 (Microcontroller) Reference Manual",
    link: "/477grp5/references/STM32U5_Reference_Manual.pdf",
  },
  {
    name: "WS2812B (RGB LED) Datasheet",
    link: "/477grp5/references/WS2812B_LED_Datasheet.pdf",
  },
  {
    name: "DRV5033 (Hall Effect Sensor) Datasheet",
    link: "/477grp5/references/DRV5033_Hall_Effect_Datasheet.pdf",
  },
  {
    name: "TLV62568 (Buck Converter) Datasheet",
    link: "/477grp5/references/STM32U585xx_Datasheet.pdf",
  },
  {
    name: "M95P32-I (EEPROM) Datasheet",
    link: "/477grp5/references/M95P32-I_EEPROM_Datasheet.pdf",
  },
  {
    name: "LM339 (Quad Comparator) Datasheet",
    link: "/477grp5/references/LM339_Comparator_Datasheet.pdf",
  },
  {
    name: "CDx4HC11 (Triple 3-input AND Gate) Datasheet",
    link: "/477grp5/references/CDx4HC11_AND_Gate_Datasheet.pdf",
  },
  {
    name: "SSD1309 (OLED controller IC) Datasheet",
    link: "/477grp5/references/SSD1309_OLED_Controller_Datasheet.pdf",
  },
  {
    name: "PEC09 (Rotary Encoder) Datasheet",
    link: "/477grp5/references/PEC09_Encoder_Datasheet.pdf",
  },
];
---

<Layout title="ECE 477 Team 5 References">
  <h1 class="text-4xl font-extrabold">References</h1>

  <ul class="md:mt-8">
    {
      references.map((o) => (
        <li class="m-2 text-xl font-medium hover:text-neutral-600">
          <a href={o.link}>{o.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
