---
import Layout from "../layouts/Layout.astro";

const references = [
  {
    name: "STM32F446xE (Microcontroller) Datasheet",
    link: "/477grp5/references/STM32F446xE_Datasheet.pdf",
  },
  {
    name: "STM32F446xx (Microcontroller) Reference Manual",
    link: "/477grp5/references/STM32F446xx_Reference_Manual.pdf",
  },
  {
    name: "WS2812B (RGB LED) Datasheet",
    link: "/477grp5/references/WS2812B.pdf",
  },
];
---

<Layout title="ECE 477 Team 5 References">
  <h1 class="text-4xl font-extrabold">References</h1>

  <ul class="md:mt-8">
    {
      references.map((o) => (
        <li class="m-2 text-xl font-medium hover:text-neutral-600">
          <a href={o.link}>{o.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
