<footer>
  <div class="relative flex items-center py-5">
    <div class="flex-grow border-t border-neutral-400"></div>
  </div>

  <p>
    Copyright (c) 2013-2023 <u
      ><a href="http://purdue.edu">Purdue University</a></u
    > and the members of the team. All rights reserved.
  </p>
</footer>
