---
import NavButton from "./NavButton.astro";
---

<div class="pb-6 text-center">
  <h2 class="text-4xl font-bold">
    <a href="/477grp5">Digital Systems Senior Design</a>
  </h2>
  <h4 class="text-2xl"><a href="/477grp5">ECE477 Team 5</a></h4>
</div>

<ul class="flex">
  <NavButton href="/477grp5">Home</NavButton>
  <NavButton href="/477grp5/team">Team</NavButton>
  <NavButton href="/477grp5/documents">Documents</NavButton>
  <NavButton href="/477grp5/references">References</NavButton>
  <NavButton href="https://github.com/alanssitis/smart-air-hockey-table">
    Source
  </NavButton>
  <NavButton href="/477grp5/media">Media</NavButton>
  <NavButton href="/477grp5/contact">Contact</NavButton>
</ul>
