---
import NavButton from "./NavButton.astro";
---

<div class="pb-6 text-center">
  <h2 class="text-4xl font-bold">
    <a href="/">Puck-It</a>
  </h2>
  <h4 class="text-2xl"><a href="/">ECE477 Digital Systems Senior Design Team 5</a></h4>
</div>

<ul class="flex flex-col sm:flex-row">
  <NavButton href="/">Home</NavButton>
  <NavButton href="/team">Team</NavButton>
  <NavButton href="/documents">Documents</NavButton>
  <NavButton href="/references">References</NavButton>
  <NavButton href="https://github.com/alanssitis/smart-air-hockey-table">
    Source
  </NavButton>
  <NavButton href="/media">Media</NavButton>
</ul>
